/*background*/
    #wrapper {
background-color: #002929 !important;
font-weight:700;
color: #05fffb !important;
        background-image:url(https://files.catbox.moe/5lmlgq.gif);
        background-attachment: fixed;
        font-family: roboto !important;
font-family: sans-serif !important;
}


/*artfight navbar */
.navbar {
    background-color: #0e202b !important;
    color: cyan !important;
}

.navbar a {color:  lightcyan !important;}

.navbar-brand div {color: paleturquoise!important;}

.fas, .fa-discord {display:none;}

.artfight-nav .navbar-brand img {
    display:none;
}

.artfight-nav .navbar-brand {
    background-image: url(https://files.catbox.moe/0ab8fl.webp);
    background-repeat: no-repeat;
    background-size:contain;
    padding-left: 38px !important;
    padding-bottom: 10px !important;
    margin-bottom: -10px !important;
    background-size: 32px;
    margin-right: 4rem;
}

.artfight-nav .navbar-nav:first-child .nav-item:first-child {
    background-image: url(https://files.catbox.moe/coiahg.gif);
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: left;
}  /*discord icon*/

.artfight-nav .navbar-nav:first-child .nav-item:first-child + .nav-item {
    background-image: url(https://files.catbox.moe/2ozo8n.gif);
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: left;
} /*help icon*/

.artfight-nav .navbar-nav:first-child .nav-item:first-child + .nav-item + .nav-item {
    background-image: url(https://files.catbox.moe/hanqua.gif);
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: left;
} /*shop icon*/

.artfight-nav .navbar-nav:first-child .nav-item:first-child + .nav-item + .nav-item + .nav-item {
    background-image: url(https://files.catbox.moe/3bbexz.gif);
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: left;
} /*discover icon*/

.artfight-nav .navbar-nav:first-child .nav-item:first-child + .nav-item + .nav-item + .nav-item + .nav-item {
    background-image: url(https://files.catbox.moe/qf8itw.gif);
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: left;
} /*submit icon*/

/* banner and af notf */
.banner {
height:300px !important;
background-image: url(https://files.catbox.moe/zw2f86.gif) !important; /*banner gif */ 
background-repeat:no-repeat !important;
background-color:#000 !important;
background-size: contain !important;
background-position: bottom !important;
font-weight:700
}

.alert-info {
    background-color: darkcyan;
    border-radius: 0px;
}


a {
    color: white;
}



/*profile head section */
.profile-avatar-wrapper {
    background-color: black !important;
    border: none !important;
}
.profile-avatar-panel {
    padding:0px;
    margin: 10px;
}

.profile-header-name small {
    color: white;
    opacity: 100%;
    letter-spacing: normal !important;
    vertical-align: middle!important;
}

.profile-avatar-panel img {
    
}

.profile-header {
    background-color: darkcyan;
}

.speech-bubble {
    top: 140px;
}

.follows-you {
    background-color: darkslategray !important;
    color: white !important;
    margin-left: -20% !important;
    top: 120px;
    height:1rem;
    width: 100% !important;
    font-size: 0.5em;
    letter-spacing: normal;
    
}

.speech-bubble:after {
    margin-left: 0px !important;
}





.report-button {
    background-color: crimson !important;
}

.profile-header-button a {
    background-color: #0c95a5;
}

.btn {
            background-color: midnightblue !important;
    border: 0.2rem outset darkcyan !important;
    border-radius: 0px !important;
    background-image: url(https://files.catbox.moe/eb8dqt.gif);
    background-size:cover;
    text-transform: uppercase;
}

.btn:hover {
    border: 0.2rem inset teal !important;
}

.btn, button {
    -webkit-appearance: none;
}


.profile-header-buttons {
    margin-top: 3rem;
}

.profile-mobile-header .follows-you {
    max-width: 50% !important;
    text-align: center !important;
    left: 45% !important;
    top: 140px !important;
}

.profile-mobile-header .profile-avatar-wrapper {
    margin-bottom: 2rem !important;
}

.profile-mobile-header .profile-header-buttons {
    text-align: center !important;
    margin-top: 1rem !important;
    margin-bottom: 0.5rem !important;
}

.profile-mobile-header .profile-header-buttons a {
    margin-bottom: 0.5rem !important;
}

h2 {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

textarea {
   background-color: black !important; 
}

.comments-posts .report-button {
    background-color: transparent !important;
}

#followers {
    letter-spacing: 0.2rem;
text-transform: uppercase;
}

.profile-gallery-header {
    background-color: #fc034e !important;
}

/*comments*/

.comments {
    margin-top: 4rem !important;
}

.comments .panel-heading {
    letter-spacing: normal !important;
}

.comments-new {
    align-items: center !important;
}
.comments-new .btn {
    background-color: midnightblue !important;
    border: 0.2rem outset darkcyan !important;
    border-radius: 0px !important;
    background-image: url(https://files.catbox.moe/eb8dqt.gif) !important;
    background-size:cover;
    text-transform: uppercase !important;
    letter-spacing: 0.2rem !important;
}

.comments-new .btn:hover {
    border: 0.2rem inset teal !important;
}

.comment card {
    background-color: none !important;
}

.comments {
    border: 3px black solid !important;
        background-color: rgba(14, 32, 43, 0.7) !important;
}

.icon-user {
    border-radius: 0px !important;
}

.comments-posts div {
    color: white !important; /*text color */
    background-color: none !important;
    margin:4px !important;
    
}

.comment .icon-user {
    margin-bottom: -1rem !important;
}
.comment hr {
    border: none;
    height: 1rem;
    background-image: url(https://files.catbox.moe/ttxlth.gif);
    background-size: cover;
}
.comment {
    padding:0px !important;
    border: 2px solid black !important;
border-left: 4px solid crimson !important;
border-right: 4px solid crimson !important;
    background-color: black !important;
}
.comments .card, .comments .card-body, .comments .fr-view {
    padding: 0px !important;
    background-color: black !important;
}

.comment .text-center {
    background-color:none!important;
}

.table tbody tr td.active {
background: darkcyan !important
}

.profile-header-button {
    color: white !important;
}

.profile-links td .text-right {
    background-color: darkcyan !important;
}

.table-bordered tbody tr td {
border-color: black !important;
}

.table-bordered tr {
border-top: 0.2rem solid #0e202b !important;
}

.table tbody tr td.active {
    background-color: darkcyan !important;
}

}
.panel {
border:none !important;
background-color:transparent
} 

#content .panel {
    border: black solid 4px !important;
}


.panel-footer {
    background-color: darkcyan !important;
}


.profile-gallery-header .panel-heading a {
    color: white !important; /*text color */
    padding: 0.2rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    vertical-align: middle !important;
    font-size: 0.8rem;
    background-color: midnightblue !important;
    border: 0.2rem inset darkcyan !important;
    border-radius: 0px !important;
    background-image: url(https://files.catbox.moe/eb8dqt.gif) !important;
    background-size:cover !important;
}


.panel-heading, .comments h2, .panel-heading h2 {
    background-color: rgba(252, 3, 78, 0.9) !important; 
    color: cyan !important;
    padding-top: 0.2rem !important;
    padding-bottom: 0.2rem !important;
    font-weight: bold !important;
    background-color: black;
padding: 0.5rem;
padding-left: 0.5rem;
letter-spacing: 0.2rem;
text-transform: uppercase;
font-size: 1rem;
}

.panel {
    background-color: rgba(14, 32, 43, 0.7) !important;
}

.profile-header-name a {
    background-color: transparent !important;
    color: cyan !important;
    border: none;
    font-size: 1.8rem;
}

.profile-links a {
    color: #c5264c !important;
}


#profile-side-images img {
    width:13em;
}

#profile-side-images {
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-left:4em;
}


.panel-footer .btn {
    margin-right: 2rem !important;
}

.row {
    justify-content:center !important;
}

.nav-tabs {
background:#00c6c6!important;
font-style: italic;
text-transform: uppercase;
text-align: center;
}

.nav-tabs a {
    border-right: 2px solid white!important;
    border-radius: 0px !important;
    border: cyan inset;
    margin: 0.1rem !important;
    text-align: center;
    width: 100%;
}


.nav li.active a {
background: #fc034e !important;
border:#c13478 !important;
color: cyan !important /*text color */
}

.nav li a:hover {
background: crimson !important;
color: teal !important /*text color */
}

.nav li a {
margin-right:10px !important;
line-height:1.8 !important;
color:#fff /*text color */
}

a:link {
color:#fff /*text color */
}

a:visited {
color:#fff /*text color */
}

a:hover {
color:#fff /*text color */
}

.panel-footer {
 background-color: darkcyan !important;
border:none !important
}

.profile-gallery-character div {
background-color: darkcyan !important;
border-radius: 0px !important;
    margin-left: 10px; 
    background-color: mediumturquoise !important;    
} 

/*attacks, defenses*/

.profile-gallery-attack, .profile-gallery-defense {
    border: none !impotant;
        text-align: center;
}

/* glowing frames */

.profile-gallery-character a {
color: azure !important;
}

.profile-gallery-character  {
   order: 2.8px solid rgba(15, 96, 93, 1) !important; /* glow lv6*/
background-color: rgba(16, 120, 116, 0.2) !important; /* glow lv4*/
    border-radius: 15px;
    padding: 0px !important; /* glow lv4*/
    padding-bottom: 0px !important;
    text-align: center;
}



.character-thumb {
 border: 2.7px solid rgba(25, 158, 153, 0.5) !important; /* glow lv3*/
border-radius: 20px !important;
}

.attack-thumb, .defense-thumb {
    border: none !important;
}


.profile-gallery-character .thumbnail {
    background-color: #16d9d1 !important; /* glow lv2*/
    padding: 2.4px !important; /* glow lv2*/
}

.character-thumb img {
    border: 2.5px solid #00fff5 !important; /* glow lv1*/
    padding: 2.5px !important; /* glow lv0*/
    background-color:white !important; /* glow lv0*/
    border-radius: 15px !important;
    filter:none !important;
    z-index: 6 !important;
}


.thumbnail-width {
    max-width: 100% !important;
    margin: 0px !important;
    margin-left: 1.3rem !important;
    margin-right: 1.3rem !important;
    padding: 0px !important;
    font-size: 0.8rem !important;
}


.nametag, .nametag a, .nametag i {
    background-color: mediumturquoise!important;
    color: #1f5a5a !important;
    border-radius: 0px !important;
    border: none !important;
}

.footer, footer div.contain {
    background-color: #0e202b !important;
font-weight:700;
color: #05fffb !important;
}


/*stats*/

.profile-stats {
    border-radius:0px!important;
}

.achievement-panel .card {
    background-color:black!important;
    border: 2px teal solid!important;
    
}
.profile-stats .progress {
    background-color:teal!important;
}

.profile-stats .fa {
    color:cyan!important;
}

.profile-stats td {
    color:cyan!important;
}
.progress-bar {
    background-color:cyan!important;
    color:teal;
}

/*attacks,defenses*/
.page-link {
    background-color:teal !important;
    border:crimson outset 3px!important;
    color:white!important;
    font-weight:bold !important;
}
.page-item a{
    background-color:#00c6c6!important;
    border:crimson outset 3px;
    color:white!important;
    font-weight:bold !important;
}

/* all characters page */
#user-tag-list {
     background-color: rgba(14, 32, 43, 0.7) !important;
    border: 4px solid black;
    
}

#user-tag-list label {
    background-color:transparent;
    border:none;
    padding: 0.5rem;
    margin:0rem;
    display: block;
    color:cyan;
    
}
.profile-characters .character-thumb{
    border:none!important;
    background-color:none!important;
}
.profile-characters .thumbnail-width {
    background-color: mediumturquoise!important;
    color: #1f5a5a !important;
    border-radius: 0px !important;
    border: none !important;
    padding:0px!important;
}

.profile-characters .nametag {
    margin-top:0px!important;
    margin-bottom:0px!important;
    margin-left:2px!important;
    margin-right:2px!important;
}
/* single character page */

.character-description {
    background-color:black !important;
    margin-left, margin-right: 0px !important;
    width: 100% !important;
    padding:0.5rem;
}


#character-content .card {
    background-color: black;
    color:cyan!important;
}

#character-content .gallery-wrapper, #character-content .connections-wrapper,.permissions, #character-content .tags, #character-content .info-wrapper, info-wrapper {
    background-color: rgba(14, 32, 43, 0.7) !important;
    color:cyan!important;
    font-weight:bold !important;
    text-transform:uppercase;
    border-radius:0px!important;
    border:0.3rem solid black!important;
    
}

#character-content .gallery-header, #character-content .connections-header, .tags .card-header{
    background-color:#fc034e !important;
    border-radius:0px!important;
    font-weight:bold!important;
}

.connections-header a {
    color:cyan!important;
}


.character-description .image-display-credit {
    background:black!important;
}


.character-divider {
    border: none!important;
    height: 0.5rem!important;
    background-image: url(https://files.catbox.moe/ttxlth.gif)!important;
    background-size: cover!important;
    background-position:center;
    margin-bottom:2rem;
}


#preferences ul {
    list-style-image: url(https://files.catbox.moe/nypbhh.gif);
    padding: 0px;
    text-align: left;
}



.character-desc-header {
    text-transform: uppercase!important;
    text-align:center;
    color:cyan!important;
    font-weight:bold!important;
}

.character-desc-header-bck {
    width:100%!important;
    background-color:#fc034e!important;
        padding:0.5rem!important;
}

.header-vincent {
    background-image:url(https://files.catbox.moe/mv6eg3.gif);
    background-size:50%;
    background-position:bottom;
}

.header-vincent .h4 {
    color:whitesmoke !important;
}

.character-notes-panel {
    padding: 0.5rem;
    margin:1rem;
    background-color:teal;
}

/* user profile */

#user-desc-profile {
    padding: 1vw;
    margin-top:0px!important;
    background-image: url(https://files.catbox.moe/tyu4ex.gif);
    background-repeat:round;
    border: #fc034e 0.5rem solid  !important; 
}

.desc-parent {
    text-align:right!important;
}

.descwindow-stamps, .descwindow-doll, .descwindow-extra, .descwindow-info, .descwindow-artfight, .descwindow-charactertypes, .descwindow-links, .descwindow-random, .descwindow-sharks {
 
}


.descwindow-artfight, .descwindow-links {
    text-align:left;
}

.emoji-profile {
    max-height: 1.7rem;
    margin:0.1rem;
}

.profile-description {
    background-color: none !important; 
    background-size: cover;
}

.profile-description a {
    color:darkcyan !important;
}

.profile-links-label {
    text-transform: uppercase;
    font-weight:bold;
}

.screenbck {
    background-image: url(https://files.catbox.moe/9bvhfg.gif);
}

.desc-divider {
    background-color: #c5265b !important;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    text-align:center;
}



.windows-panel {
    background-color: rgba(252, 3, 78, 0.9);
    padding: 0.2rem;
    width:auto;
    margin: 1vw;
}

.windows-panel, .custom-profile-image, .character-types-wrapper {
    margin-right:auto;
    margin-left:auto;
}


.windows-panel-header {
    background-color: black;
    background-image: url(https://files.catbox.moe/b7g9j2.gif);
    background-image: url(https://files.catbox.moe/2cox4b.gif) ;
    background-image: url(https://files.catbox.moe/4eaqtb.gif) !important;
    background-size: contain;
    height: auto;
    margin-bottom: 0.25rem;
    vertical-align: middle !important;
}

.windows-panel-icon {
    padding-left: 0.5rem;
    color: white;
}

.windows-panel-icon img {
    padding-right: 0.5rem;
}

.windows-button {
    display:inline-block;
    height: 1.5rem;
    width: 1.5rem;
    vertical-align: middle !important;
    text-align:center;
    margin: 0.1rem;
    padding: 0px;
    background-color: rgba(220, 20, 60, 0.8);
    border: 2px #fc034e solid;
    color: white;
}

.windows-panel-content {
    font-weight: bold !important;
    background-color: whitesmoke;
    font-weight: normal;
    padding: 1rem;
    color: #2f4f4f;
}


.chr-table td {
    text-transform: uppercase;
    padding: 0.3rem;
}

.chr-table tr {
    border: 0.2rem solid cyan;
        background-color:navy; 
      background-image: url(https://files.catbox.moe/eb8dqt.gif);
    background-size:contain;
} 

.chr-table {
    text-align:center;
    border: inset cyan 0.3rem;
    margin-left:auto;
    margin-right:auto
}

.chr-table-label {
        color: cyan; 
    transform: scaleY(160%);
    letter-spacing: -0.04rem;
}

.character-types-window {
    text-align:right;
}

   .profile-panel-other {background-color: rgba(252, 3, 78, 0.8);
    padding:0.5rem;
border:0.2rem rgba(252, 3, 78, 1.0) solid;}

#graphics-window{text-align:center;padding:3%}
#graphics-window img {
    width:9em;
    display:block
    }


.character-types-wrapper {
    max-width: 19em; 
}

#chr-tvhead {
    background-image: url(https://images.artfight.net/character/th_M76lLcGy8AohRgghbeJmJ2Ufb6JUOfFZ6BJ4sUtPwGD95oO99UF2ZOYODuSO.png?t=1751278388);
    background-size:cover;
    background-position:bottom;
            filter: sepia(100%) hue-rotate(130deg) saturate(150%)  contrast(100%) brightness(100%);
}

#chr-human {
    background-image: url(https://images.artfight.net/character/th_oFCGt19z56FwoZUpBSHWIMyGqPZ6sbwAY9mhNV7pTOFbjkpJXVvpePNrsPMy.png?t=1781033805);
        background-size:cover;
    background-position:center;
            filter: sepia(100%) hue-rotate(130deg) saturate(150%)  contrast(100%) brightness(100%);
     background-position:bottom;
}

#chr-feral {
    background-image: url(https://images.artfight.net/character/th_uyuzbAIABY4d8ykaZdyZXGi62VlfCxdkI3RseCJ6klthwUNH512oUg7pjPig.png?t=1720204234);
        background-size:cover;
    background-position:center;
            filter: sepia(100%) hue-rotate(130deg) saturate(150%)  contrast(100%) brightness(100%);
}

#chr-anthro {
    background-image: url(https://images.artfight.net/character/th_DFCcLclMFdXrf2nscUZPHQzWWARBqFdyIYcgXJstXwte2mODtL4SwVsTW5nT.png?t=1751134847);
        background-size:cover;
    background-position:center;
            filter: sepia(100%) hue-rotate(130deg) saturate(150%)  contrast(100%) brightness(100%);
}

.character-type-img {
    height: 4rem;
    width: 6rem;
    margin: 0.3rem;    
}

.gif-brd-top {margin-top:-0.7rem; margin-right: 0.2rem;}
.gif-brd-bottom {margin-bottom:-0.5rem}

   /* RANDOM ATTACK THEME BUTTON */

    .random-drawing-prompt-box {
display: block;
        justify-content: center;
    }
    
.words {
    position: relative;
    height: 2rem;
    margin: 1rem;
    overflow: hidden;
    border: 3px inset cyan;
    vertical-align: middle;
    background-color: black;
    color: cyan;
    width: auto;
    justify-content:center;
    text-align:center;
}

.prompt {
    position: absolute;
    width: 100%;
    font-size:1rem;
    opacity: 0;
    animation: cycle 1.25s infinite;
}

.prompt:nth-child(1) { animation-delay: 0s; }
.prompt:nth-child(2) { animation-delay: 0.25s; }
.prompt:nth-child(3) { animation-delay: 0.5s; }
.prompt:nth-child(4) { animation-delay: 0.75s; }
.prompt:nth-child(5) { animation-delay: 1s; }

@keyframes cycle {
    0%, 19% { opacity: 1; }
    20%, 100% { opacity: 0; }
}

#show {
    display: none;
}
    
    #show:checked ~~ label {
        background-color: black;
    }

#show:checked ~ .words .prompt {
    animation-play-state: paused;
}

label {
    border: cyan 3px outset;
    background-color: rgba(252, 3, 78, 0.9);
    color: white;
    cursor: pointer;
    padding: 1rem;
    margin:1rem;
    display: block;
    justify-content:center;
    text-align:center;
}
    /*RANDOM ATTACK THEME BUTTON - END */